VITE_API_URL=http://localhost:3000/api

VITE_MIDTRANS_SERVER_KEY=SB-Mid-server-gx4JkQdgQqzCwl7_EvTVcPY_
VITE_MIDTRANS_CLIENT_KEY=SB-Mid-client-rNNBHx8BwcQuFDDm

VITE_APP_NAME=UMKM MANAGEMENT
VITE_CURRENCY=Rp
VITE_FRONTEND_URL=http://localhost:5173
