NODE_ENV=development
PORT=3000
#CUMA UNTUK ASSESMENT GAPAPA DI SHOW 
DATABASE_URL=localhost://umkm_user:umkm_password@mysql:3306/umkm_erp
DB_HOST=localhost
DB_PORT=3306
DB_NAME=umkm_erp
DB_USER=umkm_user
DB_PASSWORD=P@ssw0rd
GOOGLE_CLIENT_ID=115551103032-2tvc1aomu24ke9pu726mr2sairubak11.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback

MIDTRANS_SERVER_KEY=SB-Mid-server-gx4JkQdgQqzCwl7_EvTVcPY_
MIDTRANS_CLIENT_KEY=SB-Mid-client-rNNBHx8BwcQuFDDm
MIDTRANS_IS_PRODUCTION=false

N8N_WEBHOOK_URL=http://n8n:5678/webhook

JWT_SECRET=umkm_jwt_secret_key_2026
JWT_EXPIRES_IN=7d
BCRYPT_ROUNDS=12

LOG_LEVEL=debug
FRONTEND_URL=http://localhost:5173
